@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
    background: #333;
}

header{
    display: flex;
    flex-direction: column;
}

h1, form{
    display: flex;
    justify-content: center;
}

h1{
    margin: 3vh 0;
    color: white;
    letter-spacing: .02em;
}

hr{
    width: 45%;
    margin: 2vh auto;
    border: 1px dashed #333;
    box-shadow: 0 0.1em 0.4em rgba(138, 135, 135, 0.9);
}

label{
    color: white;
    font-size: 0.9em;
}

input{
    padding: 1em;
    border-radius: .5em;
}

#loader{
    position: absolute;
    top: 25vh;
    left: 50%;
    transform: translateX(-50%);
    width: 20em;
    height: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.points{
    margin: 0 .5em;
    width: 0.7em;
    height: 0.7em;
    border-radius: 50%;
    background-color: white;
    animation: up 0.3s alternate infinite;
}

.points:nth-child(1){
    animation-delay: 0.1s;
}

.points:nth-child(2){
    animation-delay: 0.2s;
}

.points:nth-child(3){
    animation-delay: 0.3s;
}

@keyframes up{
    100%{
        transform: translateY(-0.3em);
    }
}

main{
    width: 75%;
    margin: 5vh auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
}

.card{
    width: 100%;
    height: 30vh;
    padding: 0.1em;
    border-top: 1px solid rgb(138, 135, 135);
    border-right: 1px solid #aaa;
    border-radius: .4em;
    box-shadow: -.2em .2em .3em rgba(0, 0, 0, 0.5);
}

.card > h2,
.card > p{
    text-align: center;
    color: white;
    text-shadow: -.02em .06em .2em black;
}

.card > img{
    display: block;
    margin: 1.5vh auto;
}

h2{
    text-transform: capitalize;
}

footer{
    margin-top: 3vh;
    padding: 3vh 3vw;
    text-align: center;
    color: white;
    font-size: smaller;
    letter-spacing: 0.05em;
    line-height: 2em;
    box-shadow: 0 -.2em .3em rgba(0, 0, 0, 0.2);
}

footer > p > a,
footer > p > a:hover,
footer > p > a:visited{
    color: white;
    cursor: pointer;   
}

i{ font-size: larger; }

#error{
    grid-column: 1/5;
    color: white;
    text-align: center;
}

#error > img{
    display: grid;
    margin: 5vh auto;
    width: 75%;
}

@media (max-width: 700px){

    form{
        margin-top: 2vh;
        flex-direction: column;
        flex-flow: wrap;
    }

    input[type="search"]{
        margin-left: 5vw;
    }

    main{
        grid-template-columns: 1fr 1fr 1fr;
    }

    .card > h2{
        font-size: 1.2em;
    }

}

@media (max-width: 472px){
    main{
        grid-template-columns: 1fr 1fr;
    }

    label{
        width: 75%;
        display: flex;
        flex-flow: column;
    }

    input[type="search"]{
        margin-left: 0;
    }

}

@media (max-width: 300px){
    main{
        grid-template-columns: 1fr;
    }
}